.App {
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
}

p {
	font-size: 12pt;
}

.card {
	overflow: hidden;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
	border-radius: 4px;
	color:rgba(0, 0, 0, 0.87);
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.card-content {
	padding: 15px;
}

#main-header {
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.App-link {
	color: #61dafb;
}

.on {
	color: greenyellow;
}

.critical {
	color: red
}

.databox {
	text-align: center;
	padding: 10;
	border: 2px solid grey;
}


